*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.naslov{
    text-align: center;
    color: #555;
}

.kutija li{
    margin-left: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}